.type-screen {
  .col-8 {
    &:first-child {
      margin: 48px auto 0;
    }

    &:last-child {
      margin: 24px auto 0;
    }
  }

  .race-area {
    border: 1px solid violet;

    .car {
      padding: 6px;
      // margin-top: 16px;

      &-info {
        display: flex;
        align-items: center;
        width: 100%;
        transition: padding-left .3s ease;

        h3 {
          margin-right: 5px;
          font-size: 1rem;
        }

        img {
          width: 60px;
        }
      }

      .progress {
        height: 10px;
      }
    }
  }

  .start {
    text-align: center;
    margin-top: 16px;

    .time-display {
      display: none;
    }

    .btn-start {
      padding: 10px 40px;
      color: #f0a800;
      border: 2px solid #f0a800;
      font-size: 1.2rem;
      font-weight: 600;

      &:hover {
        background-color: #f0a800;
        color: #fff;
      }
    }
  }

  
  .footer {
    padding-bottom: 12px;
    background-color: #ececec;

    .text-area {
      padding: 8px;
      font-size: 25px;

      .success {
        color: #3bbb1b;
      }

      .error {
        background-color: #f0a3a3;
      }
    }

    .input {
      margin: 12px;

      input {
        opacity: 95%;
        font-size: 18px;
        padding: 6px;
        font-weight: 600;
        border-radius: 5px;
        border: 2px solid #9b9b9b; 

        &:focus {
          outline: none;
        }
      }
    }
  }
}

.high-score {
  padding-top: 56px;
  .padding-10 {
    padding: 5px 10%;
    .col-7 {
      margin: 0 auto;
      border: 1px solid blueviolet;

      .nav-link {
        color: violet;
      }
      .active {
        color: blueviolet;
      }
    }
  }
}