<section class="type-screen">
  <div class="container">
    <div *ngIf="listUser">
      <p *ngFor="let u of listUser"> {{u.id}} - {{u.name}} - {{u.ready}} - {{u.process}}</p>
    </div>

    <div class="row">
      <div class="col-8">
        <div class="race-area" *ngIf="listUser">
          <div class="car" *ngFor="let u of listUser">
            <div [style.padding-left]="moveDinosaur()" class="car-info">
              <h3>{{u.name}}</h3>
              <img src="assets/img/car/dinorsaur.png">
            </div>
            <div class="progress">
              <div [style.width]="moveProcess()" class="progress-bar bg-success" style="width: 10%;" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="start">
      <button class="btn btn-start" (click)="startTimer()">Start</button>
      <h3 #timeBlock class="time-display">{{timeLeft}}</h3>
    <div class="start">
      <button class="btn btn-start" *ngIf="ready">Goo</button>
    </div>

    <div class="row">
      <div class="col-8">
        <div class="footer">
          <div #quote class="text-area">
            <span>{{ pastWords.join(" ") }} </span>
            <span style="text-decoration: underline;">{{ currentWord }}</span>
            <span> {{ futureWords.join(" ") }}</span>
          </div>
          <div class="input">
            <input [style.background-color]="checkInput()" 
            [(ngModel)]="currentInput" 
            (ngModelChange)="onInputChange()"
            type="text" [attr.disabled]="finished" maxlength="20" placeholder="Type here...">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="high-score d-none">
  <div class="padding-10">
    <div class="row">
      <div class="col-7">
        <nav>
          <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
              aria-controls="nav-home" aria-selected="true">Lasted High Scores</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
              aria-controls="nav-profile" aria-selected="false">My Scores</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
              aria-controls="nav-contact" aria-selected="false">Hall of Fame</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col" colspan="2">name</th>
                  <th scope="col">speed</th>
                  <th scope="col">time</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td colspan="2">Thien Phuoc</td>
                  <td>180 WPM</td>
                  <td>22 minutes ago</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...
          </div>
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...
          </div>
        </div>
      </div>
    </div>
  </div>
</section>