<section class="type-screen">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="race-area">
          <!-- <div class="car">
            <div class="car-info">
              <h3>Hello</h3>
              <img src="assets/img/car/dinorsaur.png">
            </div>
            <div class="progress">
              <div class="progress-bar bg-success" style="width: 10%" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
          </div> -->
          <div class="car">
            <div class="car-info">
              <h3>Hello</h3>
              <img src="assets/img/car/dinorsaur.png">
            </div>
            <div class="progress">
              <div class="progress-bar bg-success" style="width: 10%" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
          </div>
          <div class="car">
            <div class="car-info">
              <h3>Hello</h3>
              <img src="assets/img/car/dinorsaur.png">
            </div>
            <div class="progress">
              <div class="progress-bar bg-success" style="width: 10%" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
          </div>
          <div class="car">
            <div class="car-info">
              <h3>Hello</h3>
              <img src="assets/img/car/dinorsaur.png">
            </div>
            <div class="progress">
              <div class="progress-bar bg-success" style="width: 10%" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
          </div>
          <div class="car">
            <div class="car-info">
              <h3>Hello</h3>
              <img src="assets/img/car/dinorsaur.png">
            </div>
            <div class="progress">
              <div class="progress-bar bg-success" style="width: 10%" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="start">
      <button class="btn btn-start">Start</button>
    </div>

    <div class="row d-none">
      <div class="col-8">
        <div class="footer">
          <div class="text-area text-center">
            As much money and life as you could want! The two things most
            human beings would choose above all - the trouble is, humans do
            have a knack of choosing precisely those things that are worst
            for them.
          </div>
          <div class="input">
            <input class="form-control w-100" type="text" placeholder="Type here...">
          </div>
        </div>

      </div>
    </div>
  </div>
</section>